/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
header .navbar .links ul li i {
    color: lightgray;
    padding-right: 5px;
}

/* Head */
header {
    width: 100%;
    background-color: black;
}

/* Navigation */
header .navbar {
    width: 120%;
    height: 5em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .navbar .logo {
    width: 14%;
    height: 2.5em;
    padding: 5px;
    margin: 5px 0px 0px 50px;
    background: url('./Lyceum-Logo-White.svg') no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: red; */
}
header .navbar .links {
    padding: 5px;
    margin-left: -250px;
}
header .navbar .links ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar .links ul li {
    padding: 0px 10px;
    margin: 10px;
    /* background-color: red; */
}
header .navbar .links ul li a {
    font-size: 18px;
    font-weight: bold;
    color: lightgray;
}
header .navbar .search {
    margin-left: -250px;
}
header .navbar .search i {
    color: lightgray;
}


/* Head Content */
header .head_content {
    width: 100%;
    height: 100vh;
    background: url('./5.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

