/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
i {
    color: whitesmoke;
}
/* body {
    background-color: #000000;
} */

/* Head */
.head {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* background-color: red; */
}

/* Navigation */
.head .navbar {
    width: 100%;
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
/* .head .navbar .scroll_bar {
    padding: 10px;
}
.head .navbar .scroll_bar i {
    font-size: 30px;
} */
.head .navbar .logo {
    width: 24%;
    height: 3.6em;
    background: url('./Lyceum-Logo-White.svg') no-repeat;
    background-position: center;
    background-size: cover;
    margin: 10px 100px;
    padding: 5px;
}
.head .navbar .search_bar {
    width: 10%;
    /* position: absolute; */
    /* height: 3.6em; */
    display: flex;
    margin: 10px;
    /* background-color: red; */
}
.head .navbar .search_bar input {
    padding: 5px;
    /* color: #fff; */
    /* background-color: red; */
}
.head .navbar .search_bar i {
    padding: 5px;
    font-size: 20px;
}
.head .navbar .account {
    width: 5%;
    /* padding-left: -20px; */
    margin-right: 40px;
}
.head .navbar .account i {
    padding: 5px;
    font-size:30px;
}
.head .head_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background: url('./5.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: red; */
}
.head .head_content .left {
    width: 20%;
    height: 90%;
    background-color: rgb(152, 152, 152);
    opacity: 0.7;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.head .head_content .left ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    padding: 30px;
}
.head .head_content .left ul li {
    min-height: 70px;
    line-height: 70px;
}
.head .head_content .left ul li a {
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}
.head .head_content .right {
    width: 80%;
    height: 100%;
}


/* Togal Bar */
/* now insert google fonts here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* body */
/* body {
    background-color: #f2f2f2;
} */
.slide {
    width: 200px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}
.slide h1 {
    color: #3ad2e3;
    font-weight: 800;
    font-size: 30px;
    text-align: right;
    padding: 20px 0px;
    padding-right: 30px;
    pointer-events: none;
    margin-top: 60px;
}
/* .slide ul {
    margin: 10px;
} */
.slide ul li a {
    color: #011a41;
    font-weight: 800;
    padding: 10px 0px;
    display: block;
    text-transform: capitalize;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}
.slide ul li:hover a {
    color: #fff;
    background-color: #3ad2e3;
}
.slide ul li a i {
    padding: 5px;
}

#input_toggle {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #3ad2e3;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

input:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}

input:checked ~ .slide {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}



/* Branches Content */
.branches {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #000000;
}
.branches h3 {
    color: whitesmoke;
    padding: 10px;
}
.branches .branches_title {
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.branches .branches_para {
    width: 100%;
    text-align: center;
    color: lightgray;
}
.branches .branches_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.branches .branches_content .content {
    width: 23%;
    margin: 5px;
    background-color: #212121;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.branches .branches_content .content #img_01 {
    background: url('./ln.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_02 {
    background: url('./lw.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_03 {
    background: url('./lp.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_04 {
    background: url('./lr.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_05 {
    background: url('./lg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_06 {
    background: url('./lne.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_07 {
    background: url('./la.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_08 {
    background: url('./lk.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content .content_img {
    width: 100%;
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.branches .branches_content .content .students {
    width: 100%;
    height: 50px;
    background-color: black;
}
.branches .branches_content .content .students ul {
    display: flex;
    color: black;
    justify-content: space-around;
    align-items: center;
}
.branches .branches_content .content .location a i {
    padding: 5px;
}
.branches .branches_content .content .location_list {
    height: 150px;
}
.branches .branches_content .content .location_list ul li i {
    /* background-color: red; */
    padding: 5px;
}
.branches .branches_content .content .view {
    /* background-color: red; */
    margin: 15px;
}
.branches .branches_content .content .view a {
    padding: 10px;
    color: #000000;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* About */
.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}
.about .about_left {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: aqua; */
    margin: 20px;
}
.about .about_left h2 {
    color: whitesmoke;
    padding: 20px 10px;
    font-size: 30px;
}
.about .about_left p {
    color: lightgray;
    line-height: 1.5em;
    padding: 10px;
}
.about .about_right {
    width: 44%;
    height: 80%;
    background: url('./lyceum_school.png') no-repeat;
    background-position: center;
    background-size: cover;
}

/* Registration Form */
.reg_form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
    
    /* background-color: lightgray; */
}
.reg_form h2 {
    width: 100%;
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 500;
}
.reg_form form {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid lightgray;
    /* background-color: aqua; */
}
.reg_form form table tr td {
    padding: 5px;
}
.reg_form .input {
    margin-left: 50px;
}

/* Login Form */
.log_form {
    width: 40%;
    /* background-color: lightgray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px auto;
}
.log_form h2 {
    width: 56%;
    font-size: 30px;
    font-weight: 800;
    padding: 10px;
    /* border: 1px solid #000000; */
    /* text-align: center; */
}
.log_form .td {
    /* width: 50%; */
    border: 1px solid #000000;
    text-align: center;
    /* float: left; */
    padding: 3px;
}

/* Cotact Form */
.contact_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    /* background-color: #3ad2e3; */
}
.contact_content h2 {
    width: 100%;
    text-align: center;
    padding: 20px 10px 30px 10px;
    font-size: 40px;
    font-weight: 500;
}
.contact_content .phone_email {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgray;
    padding: 10px;
}
.contact_content .phone_email .phone,.email {
    padding: 10px;
}
.contact_content .para {
    width: 100%;
    padding: 30px 0px;
}
.contact_content .contact_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 50px;
    border: 2px solid lightgray;
}
.contact_content .contact_form .phone_email_ {
    width: 100%;
    display: flex;
}
.contact_content .contact_form .phone_email_ .phone_,.email_ {
    width: 50%;
    padding: 5px;
}
.contact_content .contact_form p {
    padding: 10px 0px;
}
.contact_content .contact_form .f1 {
    width: 100%;
    padding: 5px;
}
.contact_content .contact_form .f2 {
    width: 15%;
    margin: 10px 0px;
    background-color: #fff;
    border: none;
    border: 1px solid lightgray;
    padding: 5px;
}

/* Bottom */
.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 50px 5px;
    background-color: rgb(0, 0, 0);
}
.bottom .sect__ {
    width: 13%;
    padding: 10px;
    /* background-color: red; */
}
.bottom .sect_ {
    width: 22%;
    padding: 10px;
}
.bottom h2,span {
    color: whitesmoke;
    padding-bottom: 5px;
}
.bottom h3,h4,a,li {
    color: lightgray;
    padding: 5px 0px;
}
.bottom .sect_ .bottom_logo {
    width: 67%;
    height: 2em;
    background: url('./Lyceum-Logo-White.svg') no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0px 0px 10px 10px;
}
.bottom .sect_ h4 {
    padding: 10px 0px;
}
.bottom .sect_ .bottom_icon {
    padding: 10px 0px;
}
.bottom .sect_ .bottom_icon i {
    padding-right: 5px;
    font-size: 25px;
}
.bottom .sect_ .contact_list .contact_numbers {
    padding: 5px 10px;
}
.bottom #sect_05 {
    width: 25%;
}
.bottom #sect_05 i {
    color: rgb(75, 75, 241);
}

/* Footer */
footer {
    width: 100%;
    display: flex;
}
.foot-content {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}
.foot-content .left,.right {
    padding: 0px 10px;
}
.foot-content .left,.right p {
    font-size: 13px;
    color: whitesmoke;
}