/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
i {
    color: whitesmoke;
}

/* Head */
.head {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* background-color: red; */
}

/* Navigation */
.head .navbar {
    width: 100%;
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.head .navbar .scroll_bar {
    padding: 10px;
}
.head .navbar .scroll_bar i {
    font-size: 30px;
}
.head .navbar .logo {
    width: 23%;
    height: 3.5em;
    background: url('./Lyceum-Logo-White.svg') no-repeat;
    background-position: center;
    background-size: cover;
    margin: 10px -150px;
    padding: 5px;
}
.head .navbar .search_bar {
    width: 10%;
    display: flex;
    margin: 10px 0px 10px 450px;
    /* background-color: red; */
}
.head .navbar .search_bar input {
    padding: 5px;
}
.head .navbar .search_bar i {
    padding: 5px;
    font-size: 20px;
}
.head .navbar .account {
    width: 5%;
}
.head .navbar .account i {
    padding: 5px;
    font-size:30px;
}
.head .head_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: url('./5.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: red; */
}
.head .head_content .left {
    width: 20%;
    height: 100%;
    background-color: lightgray;
    opacity: 0.5;
    border-bottom-right-radius: 100px;
}
.head .head_content .left ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    padding: 30px;
}
.head .head_content .left ul li {
    min-height: 70px;
    line-height: 70px;
}
.head .head_content .left ul li a {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.head .head_content .right {
    width: 80%;
    height: 100%;
}

/* Branches Content */
.branches {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #000000;
}
.branches h3 {
    color: whitesmoke;
    padding: 10px;
}
.branches .branches_title {
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.branches .branches_para {
    width: 100%;
    text-align: center;
    color: lightgray;
}
.branches .branches_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.branches .branches_content .content {
    width: 23%;
    margin: 5px;
    background-color: #212121;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.branches .branches_content .content #img_01 {
    background: url('./ln.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_02 {
    background: url('./lw.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_03 {
    background: url('./lp.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_04 {
    background: url('./lr.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_05 {
    background: url('./lg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_06 {
    background: url('./lne.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_07 {
    background: url('./la.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content #img_08 {
    background: url('./lk.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.branches .branches_content .content .content_img {
    width: 100%;
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.branches .branches_content .content .students {
    width: 100%;
    height: 50px;
    background-color: black;
}
.branches .branches_content .content .students ul {
    display: flex;
    color: black;
    justify-content: space-around;
    align-items: center;
}

/* About */
.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}
.about .about_left {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: aqua; */
    margin: 20px;
}
.about .about_left h2 {
    color: whitesmoke;
    padding: 20px 10px;
    font-size: 30px;
}
.about .about_left p {
    color: lightgray;
    line-height: 1.5em;
    padding: 10px;
}
.about .about_right {
    width: 44%;
    height: 80%;
    background: url('./lyceum_school.png') no-repeat;
    background-position: center;
    background-size: cover;
}

/* Bottom */
.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 50px 5px;
    background-color: rgb(0, 0, 0);
}
.bottom .sect__ {
    width: 13%;
    padding: 10px;
    /* background-color: red; */
}
.bottom .sect_ {
    width: 22%;
    padding: 10px;
}
.bottom h2,span {
    color: whitesmoke;
    padding-bottom: 5px;
}
.bottom h3,h4,a,li {
    color: lightgray;
    padding: 5px 0px;
}
.bottom .sect_ .bottom_logo {
    width: 67%;
    height: 2em;
    background: url('./Lyceum-Logo-White.svg') no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0px 0px 10px 10px;
}
.bottom .sect_ h4 {
    padding: 10px 0px;
}
.bottom .sect_ .bottom_icon {
    padding: 10px 0px;
}
.bottom .sect_ .bottom_icon i {
    padding-right: 5px;
    font-size: 25px;
}
.bottom .sect_ .contact_list .contact_numbers {
    padding: 5px 10px;
}
.bottom #sect_05 {
    width: 25%;
}
.bottom #sect_05 i {
    color: rgb(75, 75, 241);
}

/* Footer */
footer {
    width: 100%;
    display: flex;
}
.foot-content {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}
.foot-content .left,.right {
    padding: 0px 10px;
}
.foot-content .left,.right p {
    font-size: 13px;
    color: whitesmoke;
}